body {
  background-image: url('https://miro.medium.com/max/700/1*Ev6pL-PtyTXutlWIWUHy1A.jpeg');
  background-color: aqua;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}