<div class="container">
  <h1>獲取驗證碼</h1>
  <form action="/user/check" method="post">
    <div class="user-email">
      <label for="email">email</label>
      <input id="email" type="email" required>
    </div>
    <button type="submit" class="">發送驗證碼</button>
  </form>
</div>