<div class="detail-body">
  <div class="previous">
    <a href="/#">Previous</a>
  </div>
  <div class="word">
    <div class="block">
      <h1>translation</h1>
      <p class="part-of-speech">詞性</p>
      <div class="explain-en">
        xxxxxxxxx
      </div>
      <div class="explain">
        xxxxxxxxx
      </div>
      <div class="sentence">
        <p>sadadasdasdadadsdas</p>
      </div>
    </div>
    <div class="function">
      <a href="/#">Edit</a>
      <a href="/#">Delete</a>
      <a href="/#">Home</a>
    </div>
  </div>
  <div class="next">
    <a href="/#">Next</a>
  </div>
</div>