<div class="title">
  <h1>開始背英文單字吧！</h1>
</div>
<div class="container">
  <div class="user">
    <a class="item" href="/user/login">登入</a>
    <a class="item" href="/user/rigster">註冊</a>
  </div>
</div>