<div class="test-body">
  <div class="previous">
    <a href="/#">Previous</a>
  </div>
  <div class="word">
    <div class="block">
      <h1>第x題</h1>
      <div class="sentence">
        <p>sadadasdasdadadsdas</p>
      </div>
      <div class="ans">
        <label>Answer</label>
        <input>
      </div>
    </div>
  </div>
  <div class="next">
    <a href="/#">Next</a>
  </div>
</div>