<div class="container">
  <h1>使用者資料</h1>
  <div class="user-name">
    <h4>Name</h4>
    <p class="name">{{userInfo.name}}</p>
  </div>
  <div class="user-email">
    <h4>Email</h4>
    <p class="email">{{userInfo.email}}</p>
  </div>
  <div class="editUser">
    <a href="/user/captcha">
      <p>修改資料</p>
    </a>
  </div>
</div>