.container {
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 40px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  padding: 2%;

  .user-email {
    margin-top: 10%;

    label {
      margin-right: 4%;
      font-size: 24px;
    }
  }

  button {
    margin-top: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    background: rgba($color: #000000, $alpha: 0.5);

    &:hover {
      color: rgb(0, 0, 0);
      background: rgba($color: #ffffff, $alpha: 0.5);
    }
  }
}